<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 配置 bean -->
    <bean id="arithmeticCalculator" class="com.test.spring.aop.xml.ArithmeticCalculatorImpl"></bean>

    <!-- 配置切面的 bean -->
    <bean id="loggingAspect" class="com.test.spring.aop.xml.LoggingAspect"></bean>

    <bean id="vlidationAspect" class="com.test.spring.aop.xml.VlidationAspect"></bean>

    <!-- 配置 AOP -->
    <aop:config>
        <!-- 配置切点表达式 -->
        <aop:pointcut id="pointcut" expression="execution(* com.test.spring.aop.xml.ArithmeticCalculator.*(int, int))"></aop:pointcut>
        <!-- 配置切面及通知 -->
        <!-- 使用 order 配置切入点的优先级 -->
        <aop:aspect ref="loggingAspect" order="2">
            <!-- 前置通知 -->
            <aop:before method="beforeMethod" pointcut-ref="pointcut"></aop:before>
            <!-- 后置通知 -->
            <aop:after method="afterMethod" pointcut-ref="pointcut"></aop:after>
            <!-- 异常通知 -->
            <aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="ex"></aop:after-throwing>
            <!-- 返回通知 -->
            <aop:after-returning method="afterReturning" pointcut-ref="pointcut" returning="result"></aop:after-returning>

            <!-- 环绕通知 -->
            <aop:around method="aroudMethod" pointcut-ref="pointcut"></aop:around>
        </aop:aspect>
        <!-- 使用 order 配置切入点的优先级 -->
        <aop:aspect ref="vlidationAspect" order="1">
            <!-- 前置通知 -->
            <aop:before method="validateArgs" pointcut-ref="pointcut"></aop:before>
        </aop:aspect>
    </aop:config>

</beans>