<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://code.alibabatech.com/schema/dubbo
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd" default-autowire="byName">
            
 <dubbo:application name="banksteel-springbootfinance-test"/>
	
	<dubbo:registry address="zookeeper://dubbo1.banksteel.local:2181?backup=dubbo2.banksteel.local:2182,dubbo3.banksteel.local:2183"/>
	
	<dubbo:consumer timeout="90000" retries="0"/>
 
 <dubbo:reference retries="0" interface="com.banksteel.finance.api.OutputInvoiceApi" id="outputInvoiceApi" check="false" /> 
	 
 	 
</beans>
 
